.searchInputs {
  display: flex;
  margin-top: 40px;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 60vw;
}

.searchIcon {
  margin-left: -30px;
  margin-bottom: 10px;
  height: 30px;
  width: 25px;
  background-color: white;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}

.searchIcon svg {
  font-size: 35px;
}

.dataResult {
  margin-top: 0px;
  width: 60vw;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display:inline;
}

.dataResult::-webkit-scrollbar-thumb {
  background: rgb(3, 163, 238, 0.6);
}

/* Track */
.dataResult::-webkit-scrollbar-track {
  background: white;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}


.dataItem p {
  margin-left: 10px;
}

.img {
  border-color: black;
  border-width: 5px;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

#clearBtn {
  cursor: pointer;
}

@media (max-width: 600px) {
  .searchInputs {
    margin-top: 0px;
  }

  .search input {
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 0px;
    font-size: 1em;
    padding: 5px;
    height: 30px;
    width: 100vw;
  }


  .dataResult {
    margin-top: 0px;
    width: 90vw;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    border-bottom: rgba(12, 131, 187, 0.914) 5px solid;
  }

  .dataResult::-webkit-scrollbar {
    display:inline;
  }

  .dataResult::-webkit-scrollbar-thumb {
    background: rgb(3, 163, 238, 0.6);
  }

  /* Track */
  .dataResult::-webkit-scrollbar-track {
    background: white;
  }

  .dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
  }


  .dataItem p {
    margin-top: 10px;
    margin-left: 10px;
  }



}