@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: "Nunito", sans-serif;  
  position: sticky;
  gap: 20px;
}

body {
  background-image: linear-gradient(90deg, #02a1eb, #389fcf);
  padding: 0;
  margin: 0;
}

.main-content {
  width: 50vw;
  margin-left: 30px;
  flex: 7;
  align-items: center;
}

.main-content label {
  color: white;
  margin-top: 40px;
  font-size: large;
  font-weight: bold;
}

.left-content {
  margin-top: 22px;
  margin-left: 30px;
  width: 15vw;
  /* border: 1px solid black; */
}

.top {
  margin-top: 5px;
  width: 150px;
}

.top h1 h1 {
  background-color: white;
  color: rgb(248, 104, 42);
  align-items: center;
  white-space: nowrap;
}

.slogan {
  color: white;
}


.input-email-wrapper {
  margin-top: 10px;
  border: 2px black;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 5px;
  height: 30px;
  width: 50%;
}

.input-email-wrapper p {
  color: white;
}

.input-email-wrapper input {
  padding-left: 10px;
  width: 260px;
  background-color: white;
  border-color: #02a1eb;  
}

.input-email-wrapper input:-webkit-autofill,
.input-email-wrapper input:-webkit-autofill:hover, 
.input-email-wrapper input:-webkit-autofill:focus, 
.input-email-wrapper input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.input-email-wrapper button {
  background-color: #eb8602;
  color: white;
  border-color: white;
}


.item-list-view {
  /* border: 1px solid black; */
  background-color: white;
  border-radius: 2px;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 70vw;
  max-height: 70vh;
  overflow: hidden;
  overflow-y: auto;
}




.input-email-span p {
  color: white;
}

.item-list-view {
  width: 60vw;
}

.item-list-view::-webkit-scrollbar {
  display:inline;
}

.item-list-view::-webkit-scrollbar-thumb {
  background: rgb(3, 163, 238, 0.6);
}

/* Track */
.dataResult::-webkit-scrollbar-track {
  background: white;
}


.item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: left;
  gap: 10px;
  border-bottom: 1px solid #02a1eb;
}

.item-wrapper button {
  flex: 0.1;
  border: none;
  background-color: white;
  text-align: center;
}

.item-product-name {
  flex: 1;
  text-align: left;
}

.item-price {
  flex: 0.1;
}

.item-discount {
  flex: 0.3;
  color: rgb(255, 69, 2);
  font-weight: bold;
}

.item-img {
  flex: 0.5;
  max-height: 35px;
  max-width: 35px;
}

.footer-wrapper  {
  color: white;
  position: absolute; 
  bottom: 0; 
  width: 60vw;
  text-align: center;
}

.footer p{
  color: white;

}

@media (max-width: 600px) {


  body {}

  .App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    background-image: linear-gradient(90deg, #02a1eb, #389fcf);
    gap: 10px;
    align-items: center;   
  }

  .top {
    width: 20vw;
  }

  .top h1 h1 {
    width: 110px;
    padding-left: 2px;
  }


  .main-content {
    width: 90vw;
    margin-left: 0px;
    position: relative; 

  }

  .left-content {
    width: 96vw;
    margin-top: 2px;
    margin-left: 5px;
    display: flex;
    column-gap: 40px;
  }

  
  .main-content label {
    display: flex;
    flex-direction: column;    
    color: white;
    margin-top: 5px;
    font-size: large;
    font-weight: bold;
    
  }


  .input-email {
    background-color: white;
    margin-top: 10px;
    font-size: 1em;
    padding: 5px;
    width: 5vw;
    height: 30px;
  }

 

  .item-list-view {
    background-color: white;
    border-radius: 2px;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 90vw;
    max-height: 70vh;
    overflow: hidden;
    overflow-y: auto;
  }



  .footer-wrapper  {
    width: 80vw;
  }

  @media (max-width: 400px) {
   .input-email-span {
    margin-left: 15px;
   }
   .input-email-span label {
    font-size: small;
   }
  }
 
}