@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: "Nunito", sans-serif;
  
  position: sticky;
  gap: 20px;
}

body {
  background-image: linear-gradient(90deg, #02a1eb, #389fcf);
  padding: 0;
  margin: 0;
}

.main-content {
  width: 30vw;
  margin-left: 30px;
  flex: 7;
  align-items: center;
}

.left-content {
  margin-top: 22px;
  margin-left: 30px;
  /* border: 1px solid black; */
}

.item-list-view {
  /* border: 1px solid black; */
  background-color: white;
  border-radius: 2px;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 70vw;
  max-height: 70vh;
  overflow: hidden;
  overflow-y: auto;
}

.input-email {
  background-color: white;
  margin-top: 10px;
  border: 2px black;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 5px;
  height: 30px;
  width: 200px;
}

.input-email-span label {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 130px;
  font-size: large;
  font-weight: bold;
}

.input-email-span p {
  color: white;
}

.item-list-view {
  width: 60vw;
}


.item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: left;
  gap: 10px;
  border-bottom: 1px solid #02a1eb;
}

.item-wrapper button {
  flex: 0.1;
  border: none;
  background-color: white;
  text-align: center;
}

.item-product-name {
  flex: 1;
  text-align: left;
}

.item-price {
  flex: 0.1;
}

.item-discount {
  flex: 0.3;
  color: rgb(255, 69, 2);
  font-weight: bold;
}

.item-img {
  flex: 0.5;
  max-height: 35px;
  max-width: 35px;
}

@media (max-width: 600px) {


  body {}

  .App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    background-image: linear-gradient(90deg, #02a1eb, #389fcf);
    gap: 1px;
    align-items: center;    
  }


  .main-content {
    width: 90vw;
    margin-left: 0px;
  }

  .left-content {
    margin-top: 2px;
    margin-left: 5px;
  }

  
  .input-email-span label {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 50px;
    font-size: large;
    font-weight: bold;
  }

  .input-email {
    background-color: white;
    margin-top: 10px;
    font-size: 1em;
    padding: 5px;
    width: 60vw;
    height: 30px;
  }

 

  .item-list-view {
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 2px;
    margin-top: 0px;
    margin-bottom: 20px;
    width: 90vw;
    max-height: 70vh;
    overflow: hidden;
    overflow-y: auto;
  }
}