@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: "Nunito", sans-serif;  
  position: sticky;
  gap: 20px;
}

body {
  background-image: linear-gradient(90deg, #02a1eb, #389fcf);
  padding: 0;
  margin: 0;
}

.main-content {
  width: 50vw;
  margin-left: 30px;
  flex: 7;
  align-items: center;
}

.left-content {
  margin-top: 22px;
  margin-left: 30px;
  width: 15vw;
  /* border: 1px solid black; */
}

.left-content p{
  margin-top: 15px;
}

.top {
  margin-top: 5px;
  width: 150px;
}

.top h1 {
  line-height: 80%;
  margin-top: 0px;
  margin-bottom: 2px;
}
.top h1 h1 {
  background-color: white;
  color: rgb(248, 104, 42);
  align-items: center;
  white-space: nowrap;
  line-height: 110%;
  padding-left: 3px;
}

.slogan {
  color: white;
}

.input-email-wrapper {
  margin-top: 10px;
  width: 60vw;
  display: flex;
  justify-content: right;

}

.input-email-wrapper p {
  color: white;
}

.input-email-wrapper input {
  margin-top: 10px;
  padding-left: 5px;
  width: 220px;
  background-color: white;
  border-color: #02a1eb;  
}

.input-email-wrapper input:-webkit-autofill,
.input-email-wrapper input:-webkit-autofill:hover, 
.input-email-wrapper input:-webkit-autofill:focus, 
.input-email-wrapper input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.input-email-wrapper button {
  margin-left: 5px;
  background-color: #eb8602;
  color: white;
  font-weight: 600;
  border-color: black;
  border-width: 1px;
}

.logged-in-wrapper {
  width: 60vw;
  margin-top: 30px;
  color: white;
  font-size: medium;
  display:flex;
  justify-content: right;
  gap: 5px;
}

.logged-in-wrapper button {
  background-color: rgb(255, 72, 0);
  width: 1.2em;;
  height: 1.2em;
  line-height: 100%;
  padding-left: 1px;
  font-size: small;
  margin-top: 5px;
}
.item-parent {
  margin-left: -20px;
  margin-top: -15px;
}

.item-list-view {
  /* border: 1px solid black; */
  background-color: white;
  border-radius: 2px;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 60vw;
  max-height: 70vh;
  overflow: hidden;
  overflow-y: auto;
}

.item-list-view::-webkit-scrollbar {
  display:inline;
}

.item-list-view::-webkit-scrollbar-thumb {
  background: rgb(3, 163, 238, 0.6);
}

/* Track */
.dataResult::-webkit-scrollbar-track {
  background: white;
}

.item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: left;
  gap: 5px;
  border-bottom: 1px solid #02a1eb;
}

.item-wrapper button {
  flex: 0.1;
  border: none;
  background-color: white;
  text-align: center;
}

.item-product-name {
  flex: 1;
  text-align: left;
}


.item-unit {
  flex: 0.1;
  font-size: small;
}

.item-price {
  font-size: sm;
}

.item-wrapper a:link {
  color: black;  
  text-decoration: none;
}

.item-wrapper a:hover {
  font-weight: 600;
}

.item-wrapper a:visited {
  color: black;
}

.item-price {
  flex: 0.1;
  font-size: small;
}

.item-discount {
  flex: 0.3;
  color: rgb(255, 69, 2);
  font-weight: bold;
}

.item-img {
  flex: 0.5;
  max-height: 35px;
  max-width: 35px;
}

.footer-wrapper  {
  color: white;
  position: absolute; 
  bottom: 0; 
  width: 60vw;
  text-align: center;
  font-size: small;
}

@media (max-width: 600px) {


  body {}

  .App {
    display: flex;
    flex-direction: column;
    font-family: "Nunito", sans-serif;
    background-image: linear-gradient(90deg, #02a1eb, #389fcf);
    gap: 0px;
    align-items: center;   
  }

  .main-content {
    width: 90vw;
    margin-left: 0px;
    position: relative; 
  }

  .left-content {
    width: 96vw;
    margin-top: 0px;
    margin-left: 0px;
    display: flex;
    column-gap: 30px;
  }

  .left-content p {
    margin-top: 30px;
  }

  .top {
    margin-top: 15px;
    margin-left: 10px;
    width: 30vw;
  }

  .top h1 h1 {
    width: 110px;
    padding-left: 4px;
  }

  .slogan {
    margin-top: -10px;
  }

  .input-email-wrapper {
    margin-top: -10px;
    width: 90vw;
    display: grid;
    justify-content: left;
  }

  .input-email-wrapper input {
    width: 72vw;
  }
  
  .logged-in-wrapper {
    margin-top: 5px;
    width: auto;
    margin-bottom: -20px;

  }

  .item-list-view {
    margin-top: 0px;
    margin-bottom: 45px;
    width: 90vw;
    max-height: 70vh;
    overflow: hidden;
    overflow-y: auto;
  }

  .footer-wrapper  {
    width: 90vw;
    font-size: small;
  }

  @media (max-width: 400px) {
 
  }
 
}